
<script type="text/javascript">
  document.getElementById('li_home').className = "active";
</script>

      <!--<h2>The Rumors Are True!</h2>-->
      <p><span class="lead">Expo is making awesome changes this year, and we need your help to make it a success.</span> The Lifegraph SCOPE team and Expo are broadening Expo’s reach, making it more compelling for visitors to take an interest in the Olin community and more rewarding for you to get involved!</p>

      <!-- <a class="btn btn-large btn-success" href="#">Sign up today</a> -->
      <!--<img src="/assets/olin_expo_visualization.png" alt="">-->

      <div class="jumbotron">
        <div><a href="<%=new_project_path%>" class="btn btn-large btn-success" style="font-size: 36px; padding: 30px 40px;">Submit Your Presentation</a></div>
      </div>


      <div class="row-fluid marketing">
        <div class="span6">
          <h4>Build your portfolio.</h4>
          <p>The Expo experience is moving online, and <a href="http://olinexpo.heroku.com/">olinexpo.com</a> is a new entry in your portfolio. Your presentation has a dedicated page describing what you accomplished and the student behind the project. It’s a new way to get people excited about what you worked on, and a way to show future employers. </p>

          <h4>Don’t just visit Expo, live it.</h4>
          <p>Expo Live is a conference like no other. With technology developed by Lifegraph, you’ll see schedules tailored to your interests, find out who is interested in your work, and be able to learn more about the sessions you attend. And follow up after to see pictures of the event!</p>

        </div>

        <div class="span6">

        <h4>Share your experience.</h4>
          <p>Opt-in and connect your profiles to Facebook. On Expo day, show off to your friends and family what you’re working on and how much you’re enjoying the event. After the conference, easily connect with the people you’ve met to broaden your reach as an engineer. It’s a great way to show off the unique experience that is Olin Expo with the world!</p>

          <h4>Stay engaged beyond Expo.</h4>
          <p>The Lifegraph team will be working on seamlessly persisting real-life interactions online all year long. Follow our progress: follow us on <a href="https://twitter.com/LifegraphLabs">Twitter</a> and like us on <a href="http://www.facebook.com/LifegraphLabs">Facebook</a>.</p>

        </div>
      </div>

      <p><img src="/img/expoStock1.jpg" style="width: 100%"></p>


      <!--
      <div class="jumbotron">
        <h2>This is the process you'll go through</h2>
	<img src="/assets/olin_expo_transition.png" alt="">
      </div>
    -->

